/*
 * @Author: SkylineBin 
 * @Date: 2019-12-10 15:22:44 
 * @Last Modified by: SkylineBin
 * @Last Modified time: 2019-12-10 17:18:59
 */


.titleHeader {
    text-align: center;
}

@keyframes subtitleBack {
    from {
        color: red;
    }

    to {
        color: rgb(17, 21, 226);
    }
}


.subtitle {
    margin-left: 5%;
    font-weight: bold;
}

.animaColor{
    animation: subtitleBack 2s;
}

.functionChangeBtn {
    float: right;
    margin-right: 5%;
}

.btnFunction {
    height: 40px;
    line-height: 40px;
}

.btnFunction:after {
    display: block;
    content: " ";
    clear: both;
}

.functionExec {
    margin-left: 5%;
}

.functionClear {
    margin-left: 2%;
}

.areas {
    margin: 2% 3%;
}

.areas .areaTip {
    font-weight: bold;
    font-size: 16px;
    margin: 0.8rem 0.5rem;
}

.areas .areaContent {
    margin-left: 2%;
    height: 100px;
    width: 100%;
    border-radius: 4px;
}

.areaSecond {
    /* border-top: 1px solid #f2f2f2; */
    margin-top: 3%;
}



.container {
    min-height: calc(100vh - 50px);
}

.copyright {
    height: 50px;
    text-align: center;
    line-height: 50px;
}