---
layout: minimal
title: "Support me"
permalink: /support/index.html
description: "Support SkylineBin..."
---

<h1>How can you support SkylineBin?</h1>

<!-- <h2></h2> -->
<div class="aboutme">
    <div class="showreason">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支持是分很多种类的：自己记录的内容是花费一定心思的，认真看并且选择对自己有益的思考，这本身就是一种支持；如果可以评论留言，与博主进行简短交互，交流自己的想法共同进步，也算比较好支持；如果自己感觉受益匪浅，愿意进行小额捐赠，我自然也会很开心；还有如果趣味相投，愿意交换友链，也可大胆留言，这些都算作支持，任君挑选~
    </div>
    <br />
</div>

<h2>Helpful Posts</h2>
<div class="aboutme">
    <div class="showreason">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这里有几篇认真整理的干货，说不定能找到一些对自己有帮助的想法。
    </div>
    <ul class="recent">
        {% for project in site.helpfulposts %}
        <li>
            <a href="{{ project.url}}">
                <h3 class="project-name" itemprop="name">{{ project.name }}</h3>
            </a>
        </li>
        {% endfor %}
    </ul>
    <br />
</div>



<h2>Exchange friend's link</h2>
<div class="aboutme">
    <div class="showreason">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站的友链页面在这里： <a href="https://skylinebin.com/friends/">SkylineBin's 友链</a>。
        如果愿意留个链接的话，直接邮箱我吧，<a title="Send SkylineBin a e-mail to exchange friend link" href="mailto:skylinebin@163.com?subject=Exchange my friend link with SkylineBin">Send
            SkylineBin a
            e-mail to exchange friend link</a>
    </div>
    <br />
</div>

<h2>Email me</h2>
<div class="aboutme">
    <div class="showreason">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有个人聊天有时候挺好的，每个人都有自己想分享困惑，说出来可能有更好，了解一个人是要有交互的，如果有幸可以邮件交流，一定不会让彼此失望。大胆戳这里：<a
            title="Send SkylineBin a e-mail to tell my story" href="mailto:skylinebin@163.com">Send SkylineBin a e-mail</a>
    </div>
    <br />
</div>

<h2>Donate me</h2>
<div class="aboutme">
    <div class="showreason">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这个站点是部署在 Github 上的，这里提起 Donate
        有些有违开源软件的精神。But，这个站点衍生的域名，云服务器，图床等等都需要物质支撑，在知识共享的时代，这些还是可以接受的吧~
    </div>
    <br />
</div>

<div class="donate">
    <div class="col-lg-6 col-sm-8 col-md-6 col-xs-12 f-item">
        <!-- normal -->
        <div class="ih-item square colored effect9 bottom_to_top"><a href="">
                <div class="img"><img src="https://sdns.skylinebin.com/image/donate/SkylineBin_Alipay.jpg" alt="img"></div>
                <div class="info">
                    <div class="info-back">
                        <h3>AliPay</h3>
                        <p>Thanks for your donation~</p>
                    </div>
                </div>
            </a></div>
        <!-- end normal -->
    </div>
    <div class="col-lg-6 col-sm-8 col-md-6 col-xs-12 f-item">
        <!-- normal -->
        <div class="ih-item square wcolored effect9 bottom_to_top"><a href="">
                <div class="img"><img src="https://sdns.skylinebin.com/image/donate/SkylineBin_WeChat_Sample.jpg" alt="img"></div>
                <div class="info">
                    <div class="info-back">
                        <h3>WeChat Pay</h3>
                        <p>Thanks for your donation~</p>
                    </div>
                </div>
            </a></div>
        <!-- end normal -->
    </div>
    <div class="col-lg-6 col-sm-8 col-md-6 col-xs-12 f-item">
        <div class="ih-item square ethsize effect9 bottom_to_top"><a href="">
                <div class="img"><img src="https://sdns.skylinebin.com/image/donate/SkylineBin_imToken_no_addr.jpg" alt="img"></div>
                <div class="info">
                    <div class="info-back">
                        <h3>ETH </h3>
                        <p>0x88e20CDA9A81fE6621aBd222eebF8753C956488C</p>
                        <p>Thanks for your donation~</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br />
</div>
<div class="clearboth"></div>

{% include showvcomments.html %}
{% include commentsbyValine.html %}