---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        <div class="page_posts">
        {% include svg-icons.html %}
        {% include header-post.html %}
            <div style="margin-top: 30px;text-align: center;font-size: 18px;">
                <a href="../littletools/poetry.html">伪古风诗词生成器</a>
            </div>
            <div style="margin-top: 30px;text-align: center;font-size: 18px;">
                <a href="../littletools/selectcolor.html">调色工具表</a>
            </div>
            <div style="margin-top: 30px;text-align: center;font-size: 18px;">
                <a href="../littletools/qrcode.html">二维码生成器</a>
            </div>
        </div>
        <!-- {% include list-footer.html %} -->
        
        {% include scripts.html %}
    </body>
</html>