<div id="footer" class="footer">
  <div id="copyright" style="width:400px;margin:0 auto; padding:10px 0;height:20px;line-height:20px;color:#939393;">
      &copy; 2023 SkylineBin <a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#939393;">鄂ICP备18015484号-1</a>
  </div>
  <div style="width:300px;margin:0 auto; padding:10px 0;">
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102002416" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          <img src="https://store.skylinebin.com/website/beian.png" style="float:left;" alt="beian" />
          <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备42011102002416号</p>
      </a>
  </div>
</div>